body,
.page {
    width: 100%;
    height: 100%;
    transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
    -webkit-transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
    -moz-transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
    -o-transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
    color: #fff;
    overflow: hidden;
}

.page {
  position: absolute;
}

#p1,
#p2,
#p3,
#p4,
#p5,
#p6  {
  left: 0;
}

#p1 {
  background: #222;
}
#p2 {
  background: rgb(37, 20, 14);
  overflow: visible;
  height: 125%;
}
#p3 {
  background: gold;
}
#p4 {
  background: cornflowerblue;
}
#p5 {
  background: mediumslateblue;
}

#p6 {
  background: crimson;
}

#p2,
#p3,
#p4,
#p5,
#p6 {
  transform: translateX(15%);
  -webkit-transform: translateX(15%);
  -moz-transform: translateX(15%);
  -o-transform: translateX(15%);
  transition-delay: 0.4s !important;
}

ul {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  margin: 2.5%;
  height: 280px;
  width: 10%;
  padding: 0;
  text-align: center;
}

ul .icon:hover {
  opacity: 0.5;
}

a {
  text-decoration: none;
}


#uno:active,
#dos:active,
#tres:active,
#cuatro:active,
#cinco:active,
#seis:active {
  transform: scale(2) !important;
  -webkit-transform: scale(2) !important;
  -moz-transform: scale(2) !important;
  -o-transform: scale(2) !important;
  font-size: 40px;
} 

#menu .icon {
  margin: 40px 0;
  transition: all 0.5s ease-out !important;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}

.icon {
  color: #fff;
  display: block;
}

.fondo{
  width: 891px;
  height: 350px;
}

.uk-button-w  {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #3542be;
	border: .05rem solid #5755d9;
	border-radius: .1rem;
	color:aliceblue;
	cursor: pointer;
	display: inline-block;
	font-size: .9rem;
	height: 1.8rem;
	line-height: 1.2rem;
	outline: 0;
	padding: .25rem .4rem;
	text-align: center;
	text-decoration: none;
	transition: background .2s, border .2s, box-shadow .2s, color .2s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap
}

/* button  #def*/
.def{
	color: aliceblue;
	display: inline-block;
	font-size: .9rem;
	letter-spacing: 4px;
	margin: .1rem .2rem;
	padding: 2px 5px;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	/* text-transform: uppercase; */
	transition: 0.5s;
   -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
   /* left: 12rem; */
   
  
}

.def:nth-child(1){
	filter: hue-rotate(290deg);
}



.def:hover{
	background: aliceblue;
	box-shadow: 0 0 5px aliceblue, 0 0 25pxaliceblue, 0 0 50px aliceblue, 0 0 200px aliceblue;
	color: #5755d9;
}

/* end */

/* button  #def-v*/
.def-v{
	color: #3542be;
	display: inline-block;
	font-size: .7rem;
	letter-spacing: 3px;
	margin: .1rem .2rem;
	padding: 2px 4px;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	/* text-transform: uppercase; */
	transition: 0.5s;
   -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
   /* left: 12rem; */
   
  
}

.def-v:nth-child(1){
	filter: hue-rotate(290deg);
}



.def-v:hover{
	background: #3542be;
	box-shadow: 0 0 5px #3542be, 0 0 25px#3542be, 0 0 50px #3542be, 0 0 200px #3542be;
	color: aliceblue;
}

/* end */

.me{
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
}

.icon2{
  display: block;
}

.links .icon2{
  display: inline-flex;
}


.footer ul {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  margin: 2.5%;
  margin-left: 90%;
  height: 280px;
  width: 10%;
  padding: 0;
  text-align: center;
}

/* Links */

.links ul {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: auto;
  padding: 0;
  text-align: center;
    
}

.links span {
  margin: 0 10px; 
}

.facebook {
  color: #4267B2;
}

.twitter {
  color: #1DA1F2;
}

.instagram {
  color: #E1306C;
}

.youtube {
  color: #FF0000;
}

.github {
  color: purple;
}

.linkedin {
  color:#0072b1;
}

.pinterest {
  color: #c8232c;
}

.reddit {
  color: #FF5700;
}

.facebook:hover{
  background: #4267B2 ;
  box-shadow: 0 0 5px #4267B2 , 0 0 50px#4267B2 , 0 0 50px #4267B2 , 0 0 200px #4267B2 ;
  color:white;
  border-radius: 10%;
  animation: rotation 5s infinite linear;
}

.twitter:hover{
  background: #1DA1F2 ;
  box-shadow: 0 0 5px #1DA1F2 , 0 0 50px#1DA1F2 , 0 0 50px #1DA1F2 , 0 0 200px #1DA1F2 ;
  color:white;
  border-radius: 10%;
  animation: rotation 5s infinite linear;
}

.instagram:hover{
  background: #E1306C ;
  box-shadow: 0 0 5px #E1306C , 0 0 50px#E1306C , 0 0 50px #E1306C , 0 0 200px #E1306C ;
  color:white;
  border-radius: 10%;
  animation: rotation 5s infinite linear;
}

.youtube:hover{
  background: #FF0000 ;
  box-shadow: 0 0 5px #FF0000 , 0 0 50px#FF0000 , 0 0 50px #FF0000 , 0 0 200px #FF0000 ;
  color:white;
  border-radius: 10%;
  animation: rotation 5s infinite linear;
}

.github:hover{
  background: purple ;
  box-shadow: 0 0 5px purple , 0 0 50px purple , 0 0 50px purple , 0 0 200px purple ;
  color:white;
  border-radius: 10%;
  animation: rotation 5s infinite linear;
}

.linkedin:hover{
  background: #0072b1 ;
  box-shadow: 0 0 5px #0072b1 , 0 0 50px #0072b1 , 0 0 50px #0072b1 , 0 0 200px #0072b1 ;
  color:white;
  border-radius: 10%;
  animation: rotation 5s infinite linear;
}

.pinterest:hover{
  background: #c8232c ;
  box-shadow: 0 0 5px #c8232c , 0 0 50px #c8232c , 0 0 50px #c8232c , 0 0 200px #c8232c ;
  color:white;
  border-radius: 10%;
  animation: rotation 5s infinite linear;
}

.reddit:hover{
  background: #FF5700 ;
  box-shadow: 0 0 5px #FF5700 , 0 0 50px #FF5700 , 0 0 50px #FF5700 , 0 0 200px #FF5700 ;
  color:white;
  border-radius: 10%;
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(356deg);
  }
}

/* End Links */

